.html, body {
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

/* Custom Navbar */
.custom-nav {
    height: 80px;
    display: flex;
    padding: 10px 10px 10px 10px;
}
.custom-nav-brand {
    flex: 1;
    padding: 0 0 0 20px;
    line-height: 60px;
}
.custom-nav-brand a{
    color: #4f5464;
    font-size: 1.4rem;
    font-weight: 500;
}
.custom-nav-brand a:hover {
    color: #4f5464;
    text-decoration: none;
}
.custom-nav-toggle {
    flex: 2;
    display: none;
}
.custom-nav-bar {
    height: 3px;
    width: 35px;
    margin: 4px 0 4px 0;
    background-color: #fff;
}
.custom-nav-items {
    flex: 2;
    text-align: right;
    float: right;
    list-style: none;
}
.custom-nav-item {
    display: inline-block;
    margin: 0 8px 0 8px;
    line-height: 60px;
}
.custom-nav-item a{
    color: #4f5464;
}
.custom-nav-item a:hover {
    color: #4f5464;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.custom-nav-btn {
    background-color: rgba(79, 84, 100, 0.1);
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

/* General Styling */
h1 {
    color: #4f5464;
    font-weight: 300;
}
.main {
    height: calc(100vh - 100px);
}
.ali {
    color: #F79917;
    font-weight: 600;
}
.express {
    color: #E52F20;
    font-weight: 600;
}
.desc {
    margin: 30px 0 30px 0;
}
form input[type=text] {
    padding: 15px;
    font-size: 1rem;
    border: none;
    float: left;
    width: 85%;
    background-color: rgba(79, 84, 100, 0.1);
    border-radius: 5px 0 0 5px;
    transition: 0s;
}
form button {
    float: left;
    border: none;
    width: 15%;
    padding: 15px;
    background-color: #E52F20;
    color: white;
    font-size: 1rem;
    border-left: none;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0 5px 5px 0;
    transition: 0s;
}
form button:hover {
    background-color: #F79917;
    transition: 0.4s;
}

/* Results Page */
.results {
    width: 100%;
    padding: 20px;
    background-color: rgba(79, 84, 100, 0.1);
}
.review-table {
    border-radius: 5px;
    background-color: #fff;
}
.custom-btn {
    background-color: #E52F20;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    transition: 0.4s;
}
.custom-btn:hover {
    background-color: #F79917;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

/* Mobile View */
@media (max-width: 992px) {

    /* Fixing Navbar */
    .custom-nav-brand {
        text-align: center;
        padding: 0;
    }
    .custom-nav-items {
        display: none;
    }

    /* Fixing Search Input - Mobile View */
    form input[type=text] {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    form button {
        width: 100%;
        border-radius: 0 0 5px 5px;
    }
}